  
{% extends '../base.html' %}

{% block css %}

<style>
    p{
        margin-bottom: 0.2rem;
    }

</style>
{% endblock %}
 
{% block content %}

<div class="container">
<h2 class="pt-3">Kayıt Formu</h2>
<br>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        
        {% for error in field.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
          
        {% endfor %}
      </p>
    {% endfor %}
    <button class="mt-3 btn btn-primary" type="submit">Kayıt Ol</button>
  </form>

  <div class="modal fade" id="exampleModalüyelik" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Üyelik Sözleşmesi</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><span style="color:#666666"><strong>&Uuml;yelik S&ouml;zleşmesi</strong></span></p>

<p><span style="color:#666666"><strong>Taraflar</strong></span><br />
<span style="color:#666666"><strong>a)</strong></span><span style="color:#666666">&nbsp;www.yaraticicocugum.com internet sitesinin faaliyetlerini y&uuml;r&uuml;ten&nbsp; bundan b&ouml;yle &ldquo;Yaratıcı &Ccedil;ocuğum&rdquo; olarak anılacaktır.</span><br />
<span style="color:#666666"><strong>b)</strong></span><span style="color:#666666">&nbsp;www.yaraticicocugum.com&nbsp; internet sitesine &uuml;ye olan internet kullanıcısı (&ldquo;&Uuml;ye&rdquo; olarak anılacaktır.)</span><br />
<br />
<span style="color:#666666"><strong>2. S&ouml;zleşmenin Konusu</strong></span><br />
<span style="color:#666666">İşbu S&ouml;zleşme&rsquo;nin konusu&nbsp; www.yaraticicocugum.com&lsquo;dan &uuml;yenin faydalanma şartlarının belirlenmesidir.</span><br />
<br />
<span style="color:#666666"><strong>3. Tarafların Hak ve Y&uuml;k&uuml;ml&uuml;l&uuml;kleri</strong></span><br />
<span style="color:#666666"><strong>3.1.</strong></span><span style="color:#666666">&nbsp;&Uuml;ye, www.yaraticicocugum.com internet sitesine &uuml;ye olurken verdiği kişisel ve diğer sair bilgilerin kanunlar &ouml;n&uuml;nde doğru olduğunu, Yaratıcı &Ccedil;ocuğum&rsquo;un bu bilgilerin ger&ccedil;eğe aykırılığı nedeniyle uğrayacağı t&uuml;m zararları aynen ve derhal tazmin edeceğini beyan ve taahh&uuml;t eder.</span><br />
<span style="color:#666666"><strong>3.2.</strong></span><span style="color:#666666">&nbsp;&Uuml;ye, Yaratıcı &Ccedil;ocuğum&nbsp; tarafından kendisine verilmiş olan şifreyi başka kişi ya da kuruluşlara veremez, &uuml;yenin s&ouml;zkonusu şifreyi kullanma hakkı bizzat kendisine aittir. Bu sebeple doğabilecek t&uuml;m sorumluluk ile &uuml;&ccedil;&uuml;nc&uuml; kişiler veya yetkili merciler tarafından Yaratıcı &Ccedil;ocuğum &rsquo;a karşı ileri s&uuml;r&uuml;lebilecek t&uuml;m iddia ve taleplere karşı, Yaratıcı &Ccedil;ocuğum&rsquo;un s&ouml;zkonusu izinsiz kullanımdan kaynaklanan her t&uuml;rl&uuml; tazminat ve sair talep hakkı saklıdır.</span><br />
<span style="color:#666666"><strong>3.3.</strong></span><span style="color:#666666">&nbsp;&Uuml;ye www.yaraticicocugum.com internet sitesini kullanırken yasal mevzuat h&uuml;k&uuml;mlerine riayet etmeyi ve bunları ihlal etmemeyi baştan kabul ve taahh&uuml;t eder. Aksi takdirde, doğacak t&uuml;m hukuki ve cezai y&uuml;k&uuml;ml&uuml;l&uuml;kler tamamen ve m&uuml;nhasıran &uuml;yeyi bağlayacaktır.</span><br />
<span style="color:#666666"><strong>3.4.</strong></span><span style="color:#666666">&nbsp;&Uuml;ye, www.yaraticicocugum.com internet sitesini hi&ccedil;bir şekilde kamu d&uuml;zenini bozucu, genel ahlaka aykırı, başkalarını rahatsız ve taciz edici şekilde, yasalara aykırı bir ama&ccedil; i&ccedil;in, başkalarının fikri ve telif haklarına tecav&uuml;z edecek şekilde kullanamaz. Ayrıca, &uuml;ye başkalarının hizmetleri kullanmasını &ouml;nleyici veya zorlaştırıcı faaliyet (spam, virus, truva atı, vb.) ve işlemlerde bulunamaz.</span><br />
<span style="color:#666666"><strong>3</strong></span><span style="color:#666666">.5. &Uuml;ye, bir başkasının &ouml;zel veya gizli bilgilerini paylaşamaz veya fikri m&uuml;lkiyet hakları (&ouml;r. telif hakkı ihlali, ticari marka ihlali, taklit veya korsan &uuml;r&uuml;nler) dahil olmak &uuml;zere bir başkasının haklarını ihlal edecek herhangi bir eylemde bulunamaz.</span><br />
<span style="color:#666666"><strong>3</strong></span><span style="color:#000000">.</span><span style="color:#666666">6. &Uuml;ye, Hizmetin arzulanan &ccedil;alışma bi&ccedil;imine m&uuml;dahale edecek veya olumsuz etkide bulunacak herhangi bir şey yapamaz. Asılsız olarak bir kişiyi şikayet edemez.</span><br />
<span style="color:#666666"><strong>3.</strong></span><span style="color:#666666">7. &Uuml;ye, &ouml;nceden yazılı iznimiz olmadan kullanıcı adınızda bir domain adı veya internet adresi (URL) kullanamaz.</span><br />
<span style="color:#666666">3.8.</span><span style="color:#000000"><strong>&nbsp;</strong></span><span style="color:#666666">www.yaraticicocugum.com internet sitesinde &uuml;yeler tarafından beyan edilen, yazılan, kullanılan fikir ve d&uuml;ş&uuml;nceler, tamamen &uuml;yelerin kendi kişisel g&ouml;r&uuml;şleridir ve g&ouml;r&uuml;ş sahibini bağlar. Bu g&ouml;r&uuml;ş ve d&uuml;ş&uuml;ncelerin Yaratıcı &Ccedil;ocuğum &rsquo;la hi&ccedil;bir ilgi ve bağlantısı yoktur. Yaratıcı &Ccedil;ocuğum&rsquo;un &uuml;yenin beyan edeceği fikir ve g&ouml;r&uuml;şler nedeniyle &uuml;&ccedil;&uuml;nc&uuml; kişilerin uğrayabileceği zararlardan ve &uuml;&ccedil;&uuml;nc&uuml; kişilerin beyan edeceği fikir ve g&ouml;r&uuml;şler nedeniyle &uuml;yenin uğrayabileceği zararlardan dolayı herhangi bir sorumluluğu bulunmamaktadır.</span><br />
<span style="color:#666666"><strong>3.9.</strong></span><span style="color:#666666">&nbsp;Yaratıcı &Ccedil;ocuğum , &uuml;ye verilerinin yetkisiz kişilerce okunmasından ve &uuml;ye yazılım ve verilerine gelebilecek zararlardan dolayı sorumlu olmayacaktır. &Uuml;ye, www.yaraticicocugum.com internet sitesinin kullanılmasından dolayı uğrayabileceği herhangi bir zarar y&uuml;z&uuml;nden Yaratıcı &Ccedil;ocuğum &rsquo;tan tazminat talep etmemeyi peşinen kabul etmiştir.</span><br />
<span style="color:#666666"><strong>3.10.</strong></span><span style="color:#666666">&nbsp;&Uuml;ye, diğer internet kullanıcılarının yazılımlarına ve verilerine izinsiz olarak ulaşmamayı veya bunları kullanmamayı kabul etmiştir. Aksi takdirde, bundan doğacak hukuki ve cezai sorumluluklar tamamen &uuml;yeye aittir.</span><br />
<span style="color:#666666"><strong>3.11.</strong></span><span style="color:#666666">&nbsp;İşbu &uuml;yelik s&ouml;zleşmesi i&ccedil;erisinde sayılan maddelerden bir ya da birka&ccedil;ını ihlal eden &uuml;ye işbu ihlal nedeniyle cezai ve hukuki olarak şahsen sorumlu olup, Yaratıcı &Ccedil;ocuğum &rsquo;u bu ihlallerin hukuki ve cezai sonu&ccedil;larından ari tutacaktır. Ayrıca; işbu ihlal nedeniyle, olayın hukuk alanına intikal ettirilmesi halinde, Yaratıcı &Ccedil;ocuğum&rsquo;un &uuml;yeye karşı &uuml;yelik s&ouml;zleşmesine uyulmamasından dolayı tazminat talebinde bulunma hakkı saklıdır.</span><br />
<span style="color:#666666"><strong>3.12.</strong></span><span style="color:#666666">&nbsp;Yaratıcı &Ccedil;ocuğum&rsquo;un her zaman tek taraflı olarak gerektiğinde &uuml;yenin &uuml;yeliğini silme, m&uuml;şteriye ait dosya, belge ve bilgileri silme hakkı vardır. &Uuml;ye işbu tasarrufu &ouml;nceden kabul eder. Bu durumda, Yaratıcı &Ccedil;ocuğum&rsquo;un hi&ccedil;bir sorumluluğu yoktur.</span><br />
<span style="color:#666666"><strong>3.13.</strong></span><span style="color:#666666">&nbsp;www.yaraticicocugum.com internet sitesi yazılım ve tasarımı Yaratıcı &Ccedil;ocuğum&nbsp; m&uuml;lkiyetinde olup, bunlara ilişkin telif hakkı ve/veya diğer fikri m&uuml;lkiyet hakları ilgili kanunlarca korunmakta olup, bunlar &uuml;ye tarafından izinsiz kullanılamaz, iktisap edilemez ve değiştirilemez. Bu web sitesinde adı ge&ccedil;en başkaca şirketler ve &uuml;r&uuml;nleri sahiplerinin ticari markalarıdır ve ayrıca fikri m&uuml;lkiyet hakları kapsamında korunmaktadır.</span><br />
<span style="color:#666666"><strong>3.14.</strong></span><span style="color:#666666">&nbsp;Yaratıcı &Ccedil;ocuğum&nbsp; tarafından www.yaraticicocugum.com internet sitesinin iyileştirilmesi, geliştirilmesine y&ouml;nelik olarak ve/veya yasal mevzuat &ccedil;er&ccedil;evesinde siteye erişmek i&ccedil;in kullanılan İnternet servis sağlayıcısının adı ve Internet Protokol (IP) adresi, Siteye erişilen tarih ve saat, sitede bulunulan sırada erişilen sayfalar ve siteye doğrudan bağlanılmasını sağlayan Web sitesinin Internet adresi gibi birtakım bilgiler toplanabilir.</span><br />
<span style="color:#666666"><strong>3.15.</strong></span><span style="color:#666666">&nbsp;Yaratıcı &Ccedil;ocuğum&nbsp; &uuml;yenin kişisel bilgilerini yasal bir zorunluluk olarak istendiğinde veya (a) yasal gereklere uygun hareket etmek veya Yaratıcı &Ccedil;ocuğum&nbsp; a tebliğ edilen yasal işlemlere uymak; (b) Yaratıcı &Ccedil;ocuğum&nbsp; ve www.yaraticicocugum.com web sitesi ailesinin haklarını ve m&uuml;lkiyetini korumak ve savunmak i&ccedil;in gerekli olduğuna iyi niyetle kanaat getirdiği hallerde a&ccedil;ıklayabilir.</span><br />
<span style="color:#666666"><strong>3.16.</strong></span><span style="color:#666666">&nbsp;www.yaraticicocugum.com web sitesinin virus ve benzeri ama&ccedil;lı yazılımlardan arındırılmış olması i&ccedil;in mevcut imkanlar dahilinde tedbir alınmıştır. Bunun yanında nihai g&uuml;venliğin sağlanması i&ccedil;in kullanıcının, kendi virus koruma sistemini tedarik etmesi ve gerekli korunmayı sağlaması gerekmektedir. Bu bağlamda &uuml;ye www.yaraticicocugum.com web sitesi&rsquo;ne girmesiyle, kendi yazılım ve işletim sistemlerinde oluşabilecek t&uuml;m hata ve bunların doğrudan yada dolaylı sonu&ccedil;larından kendisinin sorumlu olduğunu kabul etmiş sayılır.</span><br />
<span style="color:#666666"><strong>3.17.</strong></span><span style="color:#666666">&nbsp;Yaratıcı &Ccedil;ocuğum&nbsp; sitenin i&ccedil;eriğini dilediği zaman değiştirme, kullanıcılara sağlanan herhangi bir hizmeti değiştirme yada sona erdirme veya www.yaraticicocugum.com web sitesi&rsquo;nde kayıtlı kullanıcı bilgi ve verilerini silme hakkını saklı tutar.</span><br />
<span style="color:#666666"><strong>3.18.</strong></span><span style="color:#666666">&nbsp;Yaratıcı &Ccedil;ocuğum&nbsp; &uuml;yelik s&ouml;zleşmesinin koşullarını hi&ccedil;bir şekil ve surette &ouml;n ihbara ve/veya ihtara gerek kalmaksızın her zaman değiştirebilir, g&uuml;ncelleyebilir veya iptal edebilir. Değiştirilen, g&uuml;ncellenen yada y&uuml;r&uuml;rl&uuml;kten kaldırılan her h&uuml;k&uuml;m , yayın tarihinde t&uuml;m &uuml;yeler bakımından h&uuml;k&uuml;m ifade edecektir.</span><br />
<span style="color:#666666"><strong>3.19.</strong></span><span style="color:#666666">&nbsp;Taraflar, Yaratıcı &Ccedil;ocuğum &rsquo;a ait t&uuml;m bilgisayar kayıtlarının tek ve ger&ccedil;ek m&uuml;nhasır delil olarak, HUMK madde 287&prime;ye uygun şekilde esas alınacağını ve s&ouml;z konusu kayıtların bir delil s&ouml;zleşmesi teşkil ettiği hususunu kabul ve beyan eder.</span><br />
<span style="color:#666666"><strong>3.20.</strong></span><span style="color:#666666">&nbsp;Yaratıcı &Ccedil;ocuğum&nbsp; iş bu &uuml;yelik s&ouml;zleşmesi uyarınca, &uuml;yelerinin kendisinde kayıtlı elektronik posta adreslerine bilgilendirme mailleri g&ouml;nderme yetkisine sahip olmakla beraber, &uuml;ye işbu &uuml;yelik s&ouml;zleşmesini onaylamasıyla beraber bilgilendirme maillerinin elektronik posta adresine g&ouml;nderilmesini kabul etmiş sayılacaktır.</span><br />
<br />
<span style="color:#666666"><strong>4. S&ouml;zleşmenin Feshi</strong></span><br />
<span style="color:#666666">İşbu s&ouml;zleşme &uuml;yenin &uuml;yeliğini iptal etmesi veya Yaratıcı &Ccedil;ocuğum&nbsp; tarafından &uuml;yeliğinin iptal edilmesine kadar y&uuml;r&uuml;rl&uuml;kte kalacaktır. Yaratıcı &Ccedil;ocuğum&nbsp; &uuml;yenin &uuml;yelik s&ouml;zleşmesinin herhangi bir h&uuml;km&uuml;n&uuml; ihlal etmesi durumunda &uuml;yenin &uuml;yeliğini iptal ederek s&ouml;zleşmeyi tek taraflı olarak feshedebilecektir.</span><br />
<br />
<span style="color:#666666"><strong>5. İhtilaflerin Halli</strong></span><br />
<span style="color:#666666">İşbu s&ouml;zleşmeye ilişkin ihtilaflerde İstanbul Mahkemeleri ve İcra Daireleri yetkilidir.</span><br />
<br />
<span style="color:#666666"><strong>6. Y&uuml;r&uuml;rl&uuml;k</strong></span><br />
<span style="color:#666666">&Uuml;yenin, &uuml;yelik kaydı yapması &uuml;yenin &uuml;yelik s&ouml;zleşmesinde yer alan t&uuml;m maddeleri okuduğu ve &uuml;yelik s&ouml;zleşmesinde yer alan maddeleri kabul ettiği anlamına gelir. İşbu S&ouml;zleşme &uuml;yenin &uuml;ye olması anında akdedilmiş ve karşılıklı olarak y&uuml;r&uuml;rl&uuml;l&uuml;ğe girmiştir.</span></p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Tamam</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalgizlilik" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Gizlilik Sözleşmesi</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><span style="color:#666666">Bu beyan (</span><span style="color:#666666"><strong>www.yaraticicocugum.com</strong></span><span style="color:#666666">) web sitesinin gizlilik politikasını i&ccedil;erir.</span><br />
            <br />
            <span style="color:#666666">(</span><span style="color:#666666"><strong>www.yaraticicocugum.com</strong></span><span style="color:#666666">) web sitesini ziyaret ederek aşağıdaki şartları ve kuralları uygulamayı kabul etmiş sayılmaktasınız.</span><br />
            <br />
            <span style="color:#666666">(</span><span style="color:#666666"><strong>www.yaraticicocugum.com</strong></span><span style="color:#666666">) &uuml;yelik aşamasında ve daha sonrasında sizden isminiz, soyadınız, &ccedil;ocuğunuzun ismi, &ccedil;ocuğunuzun doğum tarihi ve mail adresinizi talep edebilir. Bu verileri sistemimize tanımlamanız zorunlu olmayıp, opsiyoneldir. Dilerseniz kendinize ait olmayan nick name kullanabilirsiniz. &Ccedil;ocuğunuzun doğum tarihine ait aldığımız veriler, gelişimlerine y&ouml;nelik sizlerle bilgi paylaşmak amacıyla toplanmaktadır.</span></p>
            
            <p><span style="color:#666666">Kişisel bilgilerinizin korunması ve gizliliğinizin s&uuml;rd&uuml;r&uuml;lebilmesi (</span><span style="color:#666666"><strong>www.yaraticicocugum.com</strong></span><span style="color:#666666">) ekibi olarak birinci &ouml;nceliğimizdir. Bu nedenle vermiş olduğunuz bilgiler &uuml;yelik s&ouml;zleşmesi&rsquo;nde belirtilen kurallar ve ama&ccedil;lar dışında herhangi bir kapsamda kullanılmayacak, &uuml;&ccedil;&uuml;nc&uuml; şahıslarla paylaşılmayacaktır.</span></p>
            
            <p><span style="color:#666666">Sizden aldığımız kişisel verileriniz, sitemize ait &ouml;zel serverımızda PBKDF2 algoritması ile SHA256 hash mekanizması ile şifrelenerek saklanmaktadır.</span><br />
            <br />
            <span style="color:#666666">Sistemle ilgili sorunların tespiti ve s&ouml;z konusu sorunların en hızlı şekilde giderilebilmesi i&ccedil;in, (</span><span style="color:#666666"><strong>www.yaraticicocugum.com</strong></span><span style="color:#666666">), gerektiğinde kullanıcıların IP adresini tespit etmekte ve bunu kullanmaktadır. IP adresleri, kullanıcıları genel bir şekilde tanımlamak ve kapsamlı demografik bilgi toplamak amacıyla da kullanılabilir.</span></p>
            
            <p><span style="color:#666666">(</span><span style="color:#666666"><strong>www.yaraticicocugum.com</strong></span><span style="color:#666666">) &uuml;yesi olduğunuz andan itibaren haftalık bilgilendirme b&uuml;ltenleri e-posta adresinize g&ouml;nderilebilecektir. Dilediğiniz &uuml;yelikten &ccedil;ıkma ve daha sonra yeniden başlatma hakkınız bulunmaktadır.</span></p>
            
            <p><span style="color:#666666">Aktivitelere &ccedil;ocuğunuz ya da size ait fotoğrafları y&uuml;klediğinizde bu fotoğraflar sitemize giren t&uuml;m kullanıcılara a&ccedil;ık olduğunu kendi rızanız ile kabul etmiş sayılırsınız. T&uuml;m &uuml;yeler kendilerine ait siteye y&uuml;kledikleri fotoğrafları dilediği zaman silme hakkına sahiptir.</span></p>
            
            <p><span style="color:#666666">&Uuml;yelikten tamamen &ccedil;ıkarak hesabınızı kapattığınız durumda y&uuml;klediğiniz t&uuml;m i&ccedil;erikler sistemimizden otomatik olarak silinecektir.</span><br />
            <br />
            <span style="color:#666666">Sitemizden bilgi almak istediğiniz iletişim formunu doldurduğunuzda ve ya şirket e-posta adreslerimizden bilgi talebinde bulunduğunuzda bizlere temin ettiğiniz kişisel iletişim y&ouml;ntemleri (e-posta, telefon ve SMS) aracılığıyla ulaşmamızı kabul etmiş sayılırsınız.</span><br />
            &nbsp;</p>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Tamam</button>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

