{%extends '../base.html'%}
{%load static   %}
{%block css%}

<link rel="stylesheet" type="text/css" href="{% static 'gamification/css/cards.css' %}">
<style>
  .head,
  .flex {
    display: flex;
  }

  .dots {
    float: right;

  }

  #text {
    text-align: center;
  }

  .user_stories {
    border-style: solid;
    border-color: lightgray;
    border-radius: 5px;
    border-width: thin;
  }

  .jumbotron {
    background-color: white;
    text-align: center;
  }

  #md {
    float: right;
    color: red;
  }

  .dots {
    padding-left: 600px;
    padding-top: 20px;
  }

  #fix {
    position: sticky;
  }
</style>

<style>
  body {

    background-color: #cccccc;
  }

  .side,
  .flex {
    display: flex;
  }


  .bord {
    border-style: solid;
    border-color: lightgray;
    border-left: none;
    border-top: none;
    border-radius: 5px;
    border-width: thin;
    border-radius: 5px;
    background-color: white;
  }

  #side {
    overflow: auto;
    max-height: 800px;
  }

  p {
    margin-bottom: 0px;
  }

  .g-color-gray-dark-v4 {
    color: #777 !important;
  }

  .g-font-size-12 {
    font-size: 0.85714rem !important;
  }

  .form-row {
    margin-right: 0px;
    margin-left: 0px;
  }
</style>
{%endblock%}

{%block content%}

<div class="container-fluid">
  <div class="row">
    <div class=""></div>

    <div class="col-lg-8 mx-auto mt-3 pt-3 bord">

      <div id="side">

        {% if challenge %}

        <div class="d-flex justify-content-left  mb-4">
          <img src="{{challenge.photo.url}}" class="rounded-circle border" alt="{{image.user.profile.profile_pic.url}}"
            width="80" height="80">
          <div class="ml-3">
            <h2 class=" ml-3 pt-2"><small><strong>{{challenge.title}}</strong></small></h2>
            <p class=" ml-3">{{challenge.message|safe}}</p>
            

          </div>

        </div>

        <div class="d-flex align-items-baseline pl-3 mb-5">
          <a href="{%url 'gamification:show_challenge' slug=challenge.slug %}"
            class="btn btn-primary btn-fill btn-round mr-2"> Fotoğraflar</a>
          <a href="{%url 'gamification:send_challenge_photo' challenge_id=challenge.id %}"
            class="btn btn-warning btn-fill btn-round"><i class="fas fa-user-plus"></i> Katıl</a>

        </div>

        <!-- comment form -->
        <div class=" comments mb-3 ">
          {%if user.is_authenticated %}
          <form id="post-form" enctype="multipart/form-data" method="post" action="">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-sm-9 mb-3">{{form.as_p}}</div>
              <div class="col-sm-2 "><input id="challengeid" name="{{challenge.id}}" class="btn btn-primary sendcomment "
                  type="submit" value="Gönder"></div>
            </div>
          </form>
          {%else%}
          <div class="mb-4">Yorum yapmak için lütfen giriş yapınız. <a href="{%url 'login' %}?next={{request.path}}"> Giriş Yap</a></div>
        </div>
        {%endif%}
        <!-- comment for end -->
        <div id="commentarea">
        </div>
        {% for comment in challenge.comment_set.all reversed%}
        <div id=singlecomment{{comment.id}} class="flex pt-3 ">
          <div>
            <a href="{% url 'gamification:profile' username=comment.user  %}">
              <img src="{{comment.user.profile.profile_pic.url}}" class="rounded-circle border" alt="img" width="40"
                height="40">
            </a>
          </div>
          <div>
            <p class="pl-2"><span class="font-weight-bold">{{comment.user.username}}</span> {{comment.comment}}
              <br><span class="g-color-gray-dark-v4 g-font-size-12">{{comment.date|timesince }}</span>
              {% if request.user == comment.user %}
              <span><a class="deletecomment" name={{comment.id}} href="" class="  pr-2"> <i class="fas fa-trash"></i>
                </a></span>
              {%endif%}</p>

          </div>
        </div>
        <hr>
        {% endfor %}
        {% else %}
      </div>
      <h6 class="text-center">Henüz bir yorum yapılmamış</h6>
      {% endif %}
    </div>

  </div>
</div>

<!-- comments end -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $('.deletecomment').on('click', function (event) {
    console.log($(this).attr('name'))
    event.preventDefault();
    if (confirm("Silmek istediğinizden emin misiniz?")) {
      console.log($(this).attr('name'))
      $.ajax({
        url: "{% url 'gamification:delete_comment' %}", // the endpoint
        type: "POST", // http method
        data: {
          'content_id': $(this).attr('name'),
          'operation': 'delete_challenge_comment',
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        }, // data sent with the post request

        // handle a successful response
        success: function (json) {
          console.log(json)
          $("#singlecomment" + json.comment_id).remove();
          
        },

        // handle a non-successful response
        error: function (xhr, errmsg, err) {
          $('#results').html(
            "<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " +
            errmsg +
            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
          console.log(xhr.status + ": " + xhr
            .responseText); // provide a bit more info about the error to the console
        }
      });
    } else {
      txt = "You pressed Cancel!";
    }

  });
</script>


<script>
  $('#post-form').on('submit', function (event) {
    event.preventDefault();
    $.ajax({
      url: "{% url 'gamification:save_comment' %}", // the endpoint
      type: "POST", // http method
      data: {
        'content_id': $('#challengeid').attr('name'),
        'comment': $('#post-text').val(),
        'operation': 'send_comment',
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      }, // data sent with the post request

      // handle a successful response
      success: function (json) {
        $('#post-text').val(''); // remove the value from the input
        console.log(json); // log the returned json to the console
        $("#commentarea").prepend(
          '<div class="flex ">          <div>            <a href="% url "others_profile" comment.user.id  %}">              <img src="'+json.imgpath +'"                class="rounded-circle border" alt="img" width="40" height="40">            </a></div>          <div>            <p class="ml-2"><span class="font-weight-bold">' +
          json.user + '</span> ' + ' ' + json.text + '<br><span class="g-color-gray-dark-v4 g-font-size-12">0 dakika</span></p>          </div>        </div><hr>');
      },

      // handle a non-successful response
      error: function (xhr, errmsg, err) {
        $('#results').html(
          "<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " +
          errmsg +
          " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
        console.log(xhr.status + ": " + xhr
          .responseText); // provide a bit more info about the error to the console
      }
    });
  });

  function create_image_comment() {

  };
</script>

{%endblock%}