  
{% extends '../base.html' %}
{%load static   %}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'gamification/css/cards.css' %}">

<style>
    body {
      background: rgb(103,122,228);
      background: linear-gradient(137deg, rgba(103,122,228,1) 0%, rgba(115,83,173,1) 80%);
      min-height: 100vh;
    }
    ul {
        list-style-type: none;

    }

    li {
        padding-left: 10px;
        padding-top: 3px;
    }

    .card-title {
        font-size: 2rem;
        line-height: 1.2;

    }

    #question {
        border-radius: 50px;
        border: 20px solid transparent;
        border-color: #7380C6;
        padding: 15px;

    }

    .related-question-post {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-top: 20px;
        font-size: medium;

    }

    .related-question-post-container {
        margin-top: 20px;
    }
    .card-title{
        padding-left: 0px;
    }

    body{
        text-align: left;
    }
    .card{
        max-width: 500px;
    }
    .card-body {
        padding: 2px;
    }
    .rounded {
        border-radius: 1.25rem!important;
    }



.center {
max-width: 600px;
  z-index: 10;
margin: auto;

}

.top3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #3C424F;
}
.top3 .item {
  box-sizing: border-box;
  position: relative;
  background: white;
  width: 9rem;
  min-width: 10rem;
  height: 10rem;
  text-align: center;
  padding: 2.8rem 0 0;
  margin: 1rem 1rem 2rem;
  border-radius: 0.5rem;
  transform-origin: bottom;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1), 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

.top3 .item .pic {
  position: absolute;
  top: -2rem;
  left: 2.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}
.top3 .item .pos {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.top3 .item .name {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.top3 .item .score {
  opacity: 0.5;
}
.top3 .item .score:after {
  display: block;
  opacity: 0.5;
}
.top3 .item.one {
  width: 10rem;
  height: 11rem;
  padding-top: 3.5rem;
  min-width: 10rem;
}
.top3 .item.one .pic {
  width: 5rem;
  height: 5rem;
  left: 2.5rem;
}
@media only screen and (max-width: 600px) {
  .top3 .item {
    min-width: 8rem;
    font-size: 0.7rem;
  }
  .top3 .item.one {
    min-width: 8rem;
  }
}
.top3 .item:hover {
  transform: scale(1.05);
}

.list {
  padding-left: 2rem;
  margin: 0 auto;
}
.list .item {
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  height: 3rem;
  border-radius: 4rem;
  margin-bottom: 2rem;
  background: rgb(145,112,182);
  background: linear-gradient(87deg, rgba(145,112,182,1) 0%, rgba(233,179,179,1) 72%);
  transform-origin: left;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1), 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}
.list .item .pos {
  font-weight: 900;
  position: absolute;
  left: -2rem;
  text-align: center;
  font-size: 1.25rem;
  width: 1.5rem;
  color: white;
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}
.list .item .pic {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}
.list .item .name {
  flex-grow: 2;
  flex-basis: 10rem;
  font-size: 1.1rem;
  color:#E7E6F6;
  
}
.list .item .score {
  margin-right: 1.5rem;
  opacity: 0.5;
  color: #393E46;
}
.list .item .score:after {
  margin-right: 1rem;
  opacity: 0.5;
}
.list .item:hover {
  transform: scale(1.05);
}
.list .item:hover .pos {
  opacity: 0.8;
}
#summarybox{
    background-color: #FFF;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .summarybox{
    background: rgb(60,16,83);
background: linear-gradient(276deg, rgba(60,16,83,1) 0%, rgba(173,83,137,1) 100%);
 border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }


</style>

<style>
  .flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}



.card {
    background: #fff;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(19, 24, 44, .125);
    border-radius: .25rem
}

.list-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word
}

.list-item.block .media {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.list-item.block .list-content {
    padding: 1rem
}

.w-40 {
    width: 40px !important;
    height: 40px !important
}
.w-30 {
  width: 20px !important;
  height: 20px !important
}

.avatar {
    position: relative;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 500px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
}

.avatar img {
    border-radius: inherit;
    width: 100%
}

.gd-primary {
    color: #fff;
    border: none;
    background: #448bff linear-gradient(45deg, #448bff, #44e9ff)
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.text-color {
    color: #5e676f
}

.text-sm {
    font-size: .825rem
}

.h-1x {
    height: 1.25rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.no-wrap {
    white-space: nowrap
}

.list-row .list-item {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem .625rem
}

.list-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word
}

.list-row .list-item>* {
    padding-left: .625rem;
    padding-right: .625rem
}

.dropdown {
    position: relative
}

a:focus,
a:hover {
    text-decoration: none
}

list-item {
    background: white
}
</style>
{% endblock %}
 
{% block content %}

<!-- #leaderboard -->
<div class="container p-5">
    

    <h2 id="summarybox"class="col-xl-12 text-center w-75 mx-auto">{{month|date:'Y'}} Yılı Genel MiO Sıralaması</h2>
  </div>

<!-- #yearlyresults -->



<!-- #end -->

<div class="center">
    <div class="top3">
      

        {%for player in leaders %}
        {%if player.place == 2%}
      <div class="two item">
        <div class="pos">
          2
        </div>
        <div class="pic" style="background-image: url({{player.imgpath}})"></div>
        <div class="name">
          <a class="stretched-link"href="{%url 'gamification:profile' username=player.username%}">{{player.username}}</a>
            
        </div>
        <div class="score">
          {{player.points}} puan
        </div>
      </div>
      {%endif%}
      {%if player.place == 1%}
      <div class="one item">
        <div class="pos">
          1
        </div>
        <div class="pic" style="background-image: url({{player.imgpath}})"></div>
        <div class="name">
          <a class="stretched-link"href="{%url 'gamification:profile' username=player.username%}">{{player.username}}</a>
        </div>
        <div class="score">
            {{player.points}} puan
        </div>
      </div>
      {%endif%}
      {%if player.place == 3%}
      <div class="three item">
        <div class="pos">
          3
        </div>
        <div class="pic" style="background-image: url({{player.imgpath}})"></div>
        <div class="name">
          <a class="stretched-link"href="{%url 'gamification:profile' username=player.username%}">{{player.username}}</a>
        </div>
        <div class="score">
            {{player.points}} puan
        </div>
      </div>
      {%endif%}
      {%endfor%}
    </div>
    
    <div class="list">
        {%for player in rest %}
      <div class="item">
        <div class="pos">
          {{player.place}}
        </div>
        <div class="pic" style="background-image: url({{player.imgpath}})"></div>
        <div class="name">
          <a style="color:#E7E6F6"class="stretched-link"href="{%url 'gamification:profile' username=player.username%}">{{player.username}}</a>
        </div>
        <div class="score">
            {{player.points}} puan
        </div>
      </div>
      {%endfor %}
    </div>
  </div>
</div>


<!-- endofleaderboard -->



{% endblock %}

{%block script%}
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.3.3/dist/confetti.browser.min.js"></script>
    <script>
        // AJAX CALL
        
        $(document).ready(function () {
            console.log('click worked')
            confetti({
                particleCount: 100,
                spread: 70,
                origin: { y: 0.6 }
              });
        })
    </script>

    {%endblock%}