{%extends '../base.html'%}
{%load static   %}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'gamification/css/cards.css' %}">

<style>
    .media-comment {
        margin-top: 20px
    }


    #pcomment {
        margin-bottom: 0px;
    }

    .commentbox .bold {
        font-weight: 600;
        font-size: 13px;
        color: rgb(29, 29, 29);
    }

    .commentbox .description {

        font-size: 13px;
        color: rgb(69, 69, 69);
    }

    p {
        margin-bottom: 0.1rem;
        margin-top: 0.1rem;
    }

    #likescard {
        font-size: 14px;
    }
</style>


{%endblock%}

{%block content %}


<div class="row mt-5">
    {%for challenge in challenges %}
    <div class="card-box col-lg-4 col-md-6 col-sm-12">
        <div class="card">
            <div style=" background-image: url('{{challenge.photo.url}}'); background-position: center center; background-size: cover;"
                class="header"> <a class="stretched-link"href="{%url 'gamification:show_challenge' slug=challenge.slug %}"></a>
                <div class="social-line social-line-visible" data-buttons="4">
                    
                    <button name="{{ challenge.id }}" class="likin btn btn-social btn-facebook">
                        {%if user in challenge.image_likes.all %}
                        <i name="likebtn{{ challenge.id }}" style="color: red;" class=" fas fa-heart"></i>
                        {%else %}
                        <i name="likebtn{{ challenge.id }}" style="color: red;" class=" far fa-heart"></i>
                        {%endif%}

                        <span id="likecounts{{ challenge.id }}">{{challenge.image_likes.count}}</span>
                    </button>
                    <a href="{%url 'gamification:get_challenge_details' slug=challenge.slug %}">
                        <button class="btn btn-social btn-twitter">
                            <i class="far fa-comment"></i>
                            <span id="likecounts{{ challenge.id }}">{{challenge.comment_set.count}}</span>
                        </button></a>
                    <button class="btn btn-social btn-twitter">
                        <a href="{%url 'gamification:leaderboard' %}"><i style="color: #C0E218"
                                class="fas fa-list-ul"></i></a>

                    </button>
                    <button class="btn btn-social btn-twitter">
                        <a href="{%url 'gamification:send_challenge_photo' challenge_id=challenge.id %}"><i
                                style="color: #222831" class="fas fa-user-plus"></i></a>

                    </button>

                </div>
                
            </div>
            <div id="fixedheight" class="content">

                <h6 class="category ">{{challenge.user}} {{challenge.user.count}}</h6>
                <a href="{%url 'gamification:show_challenge' slug=challenge.slug %}">
                    <h4 class="title">{{challenge.title}}</h4>
                </a>

                <p class="description "> {{challenge.message|truncatewords:10|safe}} <a
                        style="font-size:14px; color: #7380C6; font-weight:bold"
                        href="{%url 'gamification:get_challenge_details' slug=challenge.slug %}">Devamı</a>
                </p>


                <div class="commentbox">
                    {%if challenge.comment_set.all %}
                    <p><span class="bold">{{challenge.comment_set.first.user}}</span> <span
                            class="description">{{challenge.comment_set.first.comment|slice:"20"}}</span></p>
                    <p class="description"><a
                            href="{%url 'gamification:get_challenge_details' slug=challenge.slug %}">{{challenge.comment_set.count}}
                            Yorumun tümünü gör</a></p>
                    {%if challenge.comment_set.all.count > 1 %}
                    <p><span class="bold">{{challenge.comment_set.last.user}}</span> <span
                            class="description">{{challenge.comment_set.last.comment|slice:"20"}}</span></p>
                    {%endif%}
                    {%else%}
                    <p><span class="bold"> </span> <span class="description"></span></p>
                    {%endif%}
                </div>

            </div>
            <div class="footer text-center">
                <a href="{%url 'gamification:show_challenge' slug=challenge.slug %}"
                    class="btn btn-info btn-fill btn-round"> Fotoğraflar</a>
                <a href="{%url 'gamification:send_challenge_photo' challenge_id=challenge.id %}"
                    class="btn btn-warning btn-fill btn-round"><i class="fas fa-user-plus"></i> Katıl</a>
            </div>
        </div> <!-- end card -->
        
    </div>
    {%endfor %}





</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>





<script>
    // AJAX CALL
    $('.likin').click(function () {
        console.log('click worked')
        $.ajax({
            type: "POST",
            url: "{% url 'gamification:like' %}",
            data: {
                'content_id': $(this).attr('name'),
                'operation': 'like_submit',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: "json",
            success: function (response) {
                console.log(response)
                selector = document.getElementsByName("likebtn" + response.content_id);
                likecount = document.getElementById("likecounts" + response.content_id)
                console.log(selector)
                if (response.liked == true) {
                    $(selector).attr("class", "fas fa-heart");
                    $(likecount).text(response.likes_count)


                } else if (response.liked == false) {
                    $(selector).attr("class", "far fa-heart");
                    $(likecount).text(response.likes_count)

                }


            },
            error: function (response) {
                alert('Beğenmek için lütfen giriş yapınız')
            }

        });

    })
</script>

{%endblock%}