{%extends '../base.html'%}
{%load static   %}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'gamification/css/cards.css' %}">

<style>
    ul {
        list-style-type: none;

    }

    li {
        padding-left: 10px;
        padding-top: 3px;
    }

    .card-title {
        font-size: 2rem;
        line-height: 1.2;

    }

    #question {
        border-radius: 50px;
        border: 20px solid transparent;
        border-color: #7380C6;
        padding: 15px;

    }

    .related-question-post {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-top: 20px;
        font-size: medium;

    }

    .related-question-post-container {
        margin-top: 20px;
    }
    .card-title{
        padding-left: 0px;
    }

    body{
        text-align: left;
    }
    .card{
        max-width: 500px;
    }
    .card-body {
        padding: 2px;
    }
    .rounded {
        border-radius: 1.25rem!important;
    }
</style>



{%endblock%}

{%block content %}


<div class="col-lg-6 mx-auto mt-3">
    <div id="question"class="card text-center" >
        <img class="rounded"src="{{ user.profile.profile_pic.url }}" class="card-img-top" alt="...">
        
        <div class="card-body">
          <h4 class="card-title">
            <div class="profile-pic-name">
                {% if user.profile.profile_pic %}
                  <img class="picture-circle--medium" src="{{ user.profile.profile_pic.url }}"class="rounded-circle border" alt="img" width="40" height="40">
                {% else %}
                  <img class="picture-circle--medium" src="https://github.com/mugendinjue/instagram/blob/master/media/default.jpg?raw=true"class="rounded-circle border" alt="img" width="40" height="40">
                {% endif %}
                <span class="username">{{ user.username }}</span>
              </div>
          </h4>
          
          <form enctype="multipart/form-data" method="post" action="{%url 'gamification:profile_settings' username=request.user %}">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
    
            <input  class="btn btn-primary btn-fill" type="submit" value="Gönder"> 
            <a class="btn btn-danger "href="{%url 'gamification:main' %}">İptal</a>
            
        </form>
        
        </div>
      </div>
    </div>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    // AJAX CALL
    $('.likin').click(function () {
        console.log('click worked')
        $.ajax({
            type: "POST",
            url: "{% url 'gamification:like' %}",
            data: {
                'content_id': $(this).attr('name'),
                'operation': 'like_submit',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: "json",
            success: function (response) {
                console.log(response)
                selector = document.getElementsByName("likebtn" + response.content_id);
                likecount = document.getElementById("likecounts" + response.content_id)
                console.log(selector)
                if (response.liked == true) {
                    $(selector).attr("class", "fas fa-heart");
                    $(likecount).text(response.likes_count)


                } else if (response.liked == false) {
                    $(selector).attr("class", "far fa-heart");
                    $(likecount).text(response.likes_count)


                }


            }

        });

    })
</script>

{%endblock%}