{%extends '../base.html'%}
{%load static   %}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'gamification/css/cards.css' %}">

<style>
    ul {
        list-style-type: none;

    }

    li {
        padding-left: 10px;
        padding-top: 3px;
    }

    .card-title {
        font-size: 2rem;
        line-height: 1.2;

    }

    #question {
        border-radius: 50px;
        border: 20px solid transparent;
        border-color: #7380C6;
        padding: 15px;

    }

    .related-question-post {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-top: 20px;
        font-size: medium;

    }

    .related-question-post-container {
        margin-top: 20px;
    }
    .card-title{
        padding-left: 0px;
    }

    body{
        text-align: left;
    }
    .card{
        max-width: 500px;
    }
    .card-body {
        padding: 2px;
    }
    .rounded {
        border-radius: 1.25rem!important;
    }
    .card a {
        color: #0167ff;
        font-size: 12px;
    }
    #id_description{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #id_profile_pic{
        margin-top: 1rem;
       
    }
    p{
        margin-bottom: 0rem;
    }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


{%endblock%}

{%block content %}


<div class="col-lg-6 mx-auto mt-3">
    <div id="question"class="card text-center" >
        <img class="rounded"src="{{ user.profile.profile_pic.url }}" class="card-img-top" alt="...">
        
        <div class="card-body">
          <h4 class="card-title">
            
          </h4>
          
          <form enctype="multipart/form-data" method="post" action="{%url 'gamification:profile_settings' username=request.user %}">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
    
            <input  class="btn btn-primary btn-fill" type="submit" value="Kaydet"> 
            <a class="btn btn-secondary btn-fill "href="{%url 'gamification:main' %}">İptal</a>
            
        </form>
        
        </div>
      </div>
    </div>

    {%endblock%}



{%block script%}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $( function() {
      $( ".datepicker" ).datepicker({
        minDate: -7300, maxDate: "+1M +10D",
        changeMonth: true,
        changeYear: true
      });
    } );
    </script>

{%endblock%}