{%extends '../base.html'%}
{%load static   %}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'gamification/css/cards.css' %}">

<style>
    ul {
        list-style-type: none;

    }

    li {
        padding-left: 10px;
        padding-top: 3px;
    }

    .card-title {
        font-size: 2rem;
        line-height: 1.2;

    }

    #question {
        border-radius: 50px;
        border: 20px solid transparent;
        border-color: #7380C6;
        padding: 15px;

    }

    .related-question-post {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-top: 20px;
        font-size: medium;

    }

    .related-question-post-container {
        margin-top: 20px;
    }
    .card-title{
        padding-left: 0px;
    }

    body{
        text-align: left;
    }
    .card{
        max-width: 500px;
    }
    .card-body {
        padding: 2px;
    }

</style>
{%endblock%}

{%block content %}

<div class="col-lg-6 mx-auto mt-3">
<div id="question"class="card text-center" >
    <img src="{{challenge.photo.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">{{challenge.title}}</h4>
      <p class="card-text">Challenge'a katılmak için fotoğrafınızı gönderin!</p>
      <form enctype="multipart/form-data" method="post" action="{% url 'gamification:send_challenge_photo' challenge_id=challenge.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <br>

        <input class="btn btn-info btn-fill " type="submit" value="Gönder"> 
        <a class="btn btn-warning btn-fill"href="{%url 'gamification:main' %}">İptal</a>
        
    </form>
    
    </div>
  </div>
</div>



{%endblock  %}



<!-- end -->













