<style>
    .screen-reader-text[href="#page-content"]:focus {
        background-color: #f1f1f1;
        border-radius: 3px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        clip: auto !important;
        clip-path: none;
        color: #21759b;

    }
    #miobutton{
        padding:0.3rem 1rem;
        border-radius:0.5rem; 
        color:white; 
        text-transform: none;
        background: rgb(103,122,228);
                        background: linear-gradient(137deg, rgba(103,122,228,1) 0%, rgba(115,83,173,1) 80%);
    }

    #miobuttonbottom{
        padding:0.3rem 1rem;
        border-radius:1rem; 
        color:white; 
        text-transform: none;
        background: rgb(255,168,162);
        background: linear-gradient(131deg, rgba(255,168,162,1) 0%, rgba(104,119,223,1) 80%);
    }

    ul.dropdown-menu>li>a {
        letter-spacing: 0.2px;
    }
    
</style>

{%if 'anasayfa' in request.path %}
<div id="page-top" class="header-top homepage">
    <div class="navigation-bar homepage">
        {%else%}
        <div id="page-top" class="header-top">
            <div class="navigation-bar coloured-nav" data-sticky='0' data-sticky-mobile='1' data-sticky-to='top'>
               
{%endif%}

        <div class="navigation-wrapper ">
            <div class="row basis-auto">
                <div class="logo_col col-xs col-sm-fit">
                    <a class="text-logo" data-type="group" data-dynamic-mod="true"
                        href="{% url 'yaratici:home' %}">Yaratıcı<span style="font-weight: 300;"
                            class="span12"> Çocuğum</span></a> </div>
                <div class="main_menu_col col-xs">
                    <div id="mainmenu_container" class="row">
                        <ul id="main_menu" class="main-menu dropdown-menu">

                                    <!-- start of gamification -->

                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'yaratici:posts' %}">BlOG </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'gamification:weeklyquestion'%}">HAFTANIN SORUSU </a>
                                    </li>
                        
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'gamification:main'%}">CHALLENGES </a>
                        
                                    </li>
                        
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'gamification:imaginequestion'%}">HAYAL GÜCÜ SORUSU </a>
                                    </li>
                        
                        
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'gamification:contact_form'%}" tabindex="-1"
                                            aria-disabled="true">İLETİŞİM</a>
                                    </li>
                                    {% if request.user.is_authenticated %}
                                    <li class="nav-item">
                                        <a id="miobutton"class="nav-link" href="{% url 'gamification:profile' username=user.username %}" tabindex="-1"
                                            aria-disabled="true"> {{user.username}}</i> </a>
                                    </li>
                                    {%else%}
                                    <li class="nav-item">
                                        <a id="miobutton"class="nav-link" href="{% url 'login' %}" tabindex="-1"
                                            aria-disabled="true"> MiO GİRİŞ</i> </a>
                                    </li>
                                    {%endif%}

                         


                                    <!-- end of gamification -->

                        </ul>
                    </div> <a href="#" data-component="offcanvas" data-target="#offcanvas-wrapper"
                        data-direction="right" data-width="300px" data-push="false">
                        <div class="bubble"></div>
                        <i class="fa fa-bars"></i>
                    </a>
                    <div id="offcanvas-wrapper" class="hide force-hide  offcanvas-right">
                        <div class="offcanvas-top">
                            <div class="logo-holder">
                                <a class="text-logo" data-type="group" data-dynamic-mod="true"
                                    href="#">Yaratıcı<span
                                        style="font-weight: 300;" class="span12"> Çocuğum</span></a> </div>
                        </div>
                        <div id="offcanvas-menu" class="menu-main-menu-container">
                            <ul id="offcanvas_menu" class="offcanvas_menu">

                                <!-- start of gamification -->
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'yaratici:posts' %}">BlOG </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'gamification:weeklyquestion'%}">HAFTANIN SORUSU </a>
                                </li>
                    
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'gamification:main'%}">CHALLENGES </a>
                    
                                </li>
                    
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'gamification:imaginequestion'%}">HAYAL GÜCÜ SORUSU </a>
                                </li>
                    
                    
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'gamification:contact_form'%}" tabindex="-1"
                                        aria-disabled="true">İLETİŞİM</a>
                                </li>

                                {% if request.user.is_authenticated %}
                                <li class="nav-item">
                                    <a id="miobutton"class="nav-link" href="{% url 'gamification:profile' username=user.username %}" tabindex="-1"
                                        aria-disabled="true"> {{user.username}}</i> </a>
                                </li>
                                {%else%}
                                <li class="nav-item">
                                    <a id="miobutton"class="nav-link" href="{% url 'gamification:main'%}" tabindex="-1"
                                        aria-disabled="true"> MiO GİRİŞ</i> </a>
                                </li>
                                {%endif%}

                                <!-- end of game -->
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




