{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emailer</title>
</head>
<body>
    {%block content%}
   

<div class="col-lg-12">
    <h6>
        <form enctype="multipart/form-data" method="post" action="{% url 'emailer:add_message'%}">
            {% csrf_token %}
            {{ form.as_ul }}
            <input type="submit" value="Submit"> 
        </form>
    </h6>
    <br>
</div>

{%endblock %}
</body>
</html>